.header {
    -webkit-box-shadow: 0px 6px 5px 0px rgba(163,160,163,0.66);
    -moz-box-shadow: 0px 6px 5px 0px rgba(163,160,163,0.66);
    box-shadow: 0px 6px 5px 0px rgba(163,160,163,0.66);

    .mainNav {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .brandLogoContainer {
            display: inline-block;
            vertical-align: top;
            padding-top: 10px;

            .brandLogo {
                width: 130px;
                height: 50px;

                @include mobile {    
                    width: 110px;
                    height: 50px;
                }
            }
        }

        .secondaryNav,
        .mobileSecondaryNav {
            display: inline-block;
            vertical-align: top;

            li {
                display: inline-block;

                img {
                    width: 70px;
                    height: 70px;

                    // PNGs provided are hard to rescale. SVGs would be easier
                    // to integrate on mobile.
                    @include mobile {    
                        width: 60px;
                        height: 60px;
                    }
                }                
            }
        }

        .secondaryNav {
            .search, 
            .store {
                @include mobile {    
                    display: none;
                }
            }
        }

        .mobileSecondaryNav {
            display: none;

            @include mobile {    
                display: inline-block;                
            }
        }
    }
    .shoppingNav {
        padding-left: 10px;
        padding-bottom: 30px;

        ul {
            color: gray;

            li {
                margin-left: 10px;
                display: inline-block;
                text-transform: uppercase;
                font-size: 12px;
            }
        }

        @include mobile {    
            display: none;                
        }
    }
}